body,html,select,option{    
    margin: 0;    
    padding: 0;
}
.header{
    position: fixed;
    width: 100%;
}
select{
    border: none;
    outline: none;
    width: 50%;
    height: 40px;
    line-height: 40px;
    appearance: none;
    -webkit-appearance:none;
    -moz-appearance: none;
    padding: 0 2%;
    /* padding-left: 60px; */
    text-align: center;
    float: left;
    /* background: yellow; */
    box-sizing: border-box;
    /* border-left: 1px solid #000;
    border-bottom: 1px solid #000; */
    background: transparent;
    color: #fff;
}
option{
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px 5px;
    cursor: pointer;
    color: #000;
}

.clearfix:after {
    content: '.';
    height: 0;
    display: block;
    clear: both;
}
.mdparase {
    padding: 0px 20px;
}
.header{
    background: black;
}
.header > *{
    float: left;
}
.logo{
    overflow: hidden;
    position: absolute;
    height: 40px;
    width: 100px
}
.logo img{
    position: absolute;
    top: -25px;
}
.select{
    width: 100%;
    height: 40px;
    padding-left: 100px;
    box-sizing: border-box;
    /* background: red; */
}
.title{
    text-align: center;
}